{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#sliderR").slider({
            min : 0,
            max : 254,
            change : function(event, ui) {
                $.getJSON($SCRIPT_ROOT + '/_set_r', {
                    R: ui.value
                }, function(data) {
                    console.log(data);
                    $('#result').css('background-color', 'rgb(' + data.r+ ',' + data.g+ ',' + data.b+ ')');
                });
            }
        });
        $("#sliderG").slider({
            min : 0,
            max : 254,
            change : function(event, ui) {
                $.getJSON($SCRIPT_ROOT + '/_set_g', {
                    G: ui.value
                }, function(data) {
                    console.log(data);
                    $('#result').css('background-color', 'rgb(' + data.r+ ',' + data.g+ ',' + data.b+ ')');
                });
            }
        });
        $("#sliderB").slider({
            min : 0,
            max : 254,
            change : function(event, ui) {
                $.getJSON($SCRIPT_ROOT + '/_set_b', {
                    B: ui.value
                }, function(data) {
                    console.log(data);
                    $('#result').css('background-color', 'rgb(' + data.r+ ',' + data.g+ ',' + data.b+ ')');
                });
            }
        });
    });
</script>
<h1>Change Color</h1>
<div id=sliderR></div>
<div id=sliderG></div>
<div id=sliderB></div>
<div id=result>&nbsp;</div>
{% endblock %}
